<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RWAddonAuthor</key>
	<string>Realmac Software</string>
	<key>RWAddonManagerIconAsset</key>
	<string>addonIcon.png</string>
	<key>RWAddonSupportURL</key>
	<string>http://help.realmacsoftware.com</string>
</dict>
</plist>
