/* @group General Styles */

body {
	
}

p {
	
}

b, strong {
	
}

a:link, a:visited {
	
}

a:hover, a:active {
	
}

img {
	border: none;
}

.image-left {
	float: left;
}

.image-right {
	float: right;
}

/* @end */

/* @group Layout */

#container {
	
}

.clearer {
	clear: both;
}

#pageHeader {
	
}

#pageHeader img {
	
}

#pageHeader h1 {
	
}

#pageHeader h2 {
	
}

#contentContainer {
	
}

#contentContainer #content {
	
}

#sidebarContainer {
	
}

#sidebarContainer #sidebar {
	
}

#sidebarContainer .sideHeader {
	
}

#footer {
	
}

#footer p {
	
}

#footer a:link, #footer a:visited {
	
}

#footer a:hover, #footer a:active {
	
}

/* @end */

/* @group Bread-crumb */

#breadcrumbcontainer {
	
}

#breadcrumbcontainer ul {
	
}

#breadcrumbcontainer li {
	
}

#breadcrumbcontainer a {
	
}

#breadcrumbcontainer a:hover {
	
}

/* @end */

/* @group Toolbar */

/* Toolbar Styles */

#navcontainer {
	
}

#navcontainer #current {
	
}

#navcontainer #current:hover {
	
}

#navcontainer .currentAncestor {
	
}

/* Parent - Level 0 */

#navcontainer ul {
	
}

#navcontainer li {
	
}

#navcontainer a {
	
}

#navcontainer a:hover {
	
}

#navcontainer a:active {
	
}

/* Child - Level 1 */

#navcontainer ul ul {
	
}

#navcontainer ul ul li {
	
}

#navcontainer ul ul a {
	
}

#navcontainer ul ul a:hover {
	
}

#navcontainer ul ul #current {
	
}

#navcontainer ul ul .currentAncestor {
	
}

/* Child - Level 2 */

#navcontainer ul ul ul {
	
}

#navcontainer ul ul ul li {
	
}

#navcontainer ul ul ul a {
	
}

#navcontainer ul ul ul a:hover {
	
}

#navcontainer ul ul ul #current {
	
}

#navcontainer ul ul ul .currentAncestor {
	
}

/* Child Level 3 */

#navcontainer ul ul ul {
	
}

#navcontainer ul ul ul ul li {
	
}

#navcontainer ul ul ul ul a {
	
}

#navcontainer ul ul ul ul a:hover {
	
}

/* Child Level 4 */

#navcontainer ul ul ul ul {
	
}

#navcontainer ul ul ul ul ul li {
	
}

#navcontainer ul ul ul ul ul a {
	
}

#navcontainer ul ul ul ul ul a:hover {
	
}

/* Child Level 5 */

#navcontainer ul ul ul ul ul {
	
}

#navcontainer ul ul ul ul ul ul li {
	
}

#navcontainer ul ul ul ul ul ul a {
	
}

#navcontainer ul ul ul ul ul ul a:hover {
	
}

/* @end */

/* @group Global Classes */

blockquote, .standout {
	
}

h1 {
	
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

.imageStyle {
	
}

/* Main content area unordered list styles */

#contentContainer #content ul {
	
}

#contentContainer #content li {
	
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-latin;
}

ol.lower-alpha {
	list-style-type: upper-latin;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* Sidebar area unordered list styles */

#sidebarContainer #sidebar ul {
	
}

#sidebarContainer #sidebar li {
	
}

/* Table Styles */

table {
	
}

/* @end */

/* @group Blog */

/* @group Tag Cloud */

ul.blog-tag-cloud {
	
}

ul.blog-tag-cloud li {
	display: inline;
}

#sidebarContainer #sidebar ul.blog-tag-cloud li a {
	
}

#sidebarContainer #sidebar ul.blog-tag-cloud li a:hover {
	text-decoration: underline;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* @end */

/* @group Archive Page */

.blog-archive-background {
	
}

.blog-entry-summary {
	
}

.blog-archive-headings-wrapper {
	
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

/* @end */

.blog-entry {
	
}

h1.blog-entry-title {
	
}

h1.blog-entry-title a {
	
}

.blog-entry-date {
	
}

/*styles the category link in the main entry */

.blog-entry-category {
	
}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

.blog-read-more {
	
}

.blog-entry-body {
	
}

.blog-entry-comments {
	
}

p.blog-entry-tags {
	
}

/* styles the archives in the blog sidebar */

#blog-archives {
	
}

.blog-archive-link-enabled {
	
}

.blog-archive-link-disabled {
	
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	
}

.blog-category-link-enabled {
	
}

.blog-category-link-disabled {
	
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	
}

.blog-rss-link {
	
}

.blog-comments-rss-link {
	
}

/* @end */

/* @group File Sharing */

.filesharing-description {
	
}

.filesharing-item {
	
}

.filesharing-item-title a:link {
	
}

.filesharing-item-title a:hover {
	
}

.filesharing-item-title a:visited {
	
}

.filesharing-item-description {
	
}

/* @end */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
	
}

.album-description {
	
}

.album-wrapper {
	
}

.thumbnail-wrap {
	
}

.thumbnail-frame {
	
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	
}

.thumbnail-frame img {
	
}

.thumbnail-caption {
	
}

/* @end */

/* @group Single Page (Photo view) */

.photo-background {
	
}

.photo-navigation {
	
}

.photo-links {
	
}

.photo-navigation a:link, .photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	
}

.photo-frame {
	
}

.photo-title {
	
}

.photo-caption {
	
}

/* @group EXIF data */

/* Data wrapper */

.exif-data {
	
}

.exif-data p {
	
}

/* p tag classes for all exif data */

p.exif-version {
	
}

p.exif-colour-space {
	
}

p.exif-focal-length {
	
}

p.exif-dimensions {
	
}

p.exif-pixel-y-dimension {
	
}

p.exif-pixel-x-dimension {
	
}

p.exif-oecf-value {
	
}

p.exif-subsec-time-original {
	
}

p.exif-exposure-mode {
	
}

p.exif-spatial-frequency-response {
	
}

p.exif-scene-capture-type {
	
}

p.exif-subject-location {
	
}

p.exif-shutter-speed {
	
}

p.exif-datetime-original {
	
}

p.exif-subsec-time {
	
}

p.exif-compressed-bits-per-pixel {
	
}

p.exif-flash-energy {
	
}

p.exif-saturation {
	
}

p.exif-brightness {
	
}

p.exif-exposure-time {
	
}

p.exif-f-number {
	
}

p.exif-file-source {
	
}

p.exif-gain-control {
	
}

p.exif-subject-area {
	
}

p.exif-cfa-pattern {
	
}

p.exif-scene-type {
	
}

p.exif-white-balance {
	
}

p.exif-flash {
	
}

p.exif-exposure-index {
	
}

p.exif-flashpix-version {
	
}

p.exif-device-setting-description {
	
}

p.exif-focalplane-x-resolution {
	
}

p.exif-image-uniqueid {
	
}

p.exif-components-configuration {
	
}

p.exif-light-source {
	
}

p.exif-sensing-method {
	
}

p.exif-aperture {
	
}

p.exif-sharpness {
	
}

p.exif-exposure-program {
	
}

p.exif-subject-distance {
	
}

p.exif-subsec-time-digitized {
	
}

p.exif-contrast {
	
}

p.exif-focalplane-resolution-unit {
	
}

p.exif-gamma {
	
}

p.exif-35mm-focal-length {
	
}

p.exif-datetime-digitized {
	
}

p.exif-subject-distance-range {
	
}

p.exif-custom-rendered {
	
}

p.exif-max-aperture {
	
}

p.exif-sound-file {
	
}

p.exif-metering-mode {
	
}

p.exif-spectral-sensitivity {
	
}

p.exif-exposure-bias {
	
}

p.exif-focalplane-y-resolution {
	
}

p.exif-iso-rating {
	
}

p.exif-maker-note {
	
}

p.exif-digital-zoom-ratio {
	
}

p.exif-user-comment {
	
}

/* @end */

/* @end */

/* @end */

/* @group Quicktime Page */

.movie-description {
	
}

/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	
}

.movie-page-description {
	
}

.movie-thumbnail-frame {
	
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-caption {
	
}

/* @end */

/* @group Single Page (Movie View) */

.movie-background {
	
}

.movie-title {
	
}

.movie-frame {
	
}

/* @end */

/* @end */

/* @group Contact Form */

.message-text {
	
}

.required-text {
	
}

.form-input-field {
	
}

.form-input-button {
	
}

/* @end */

/* @group Sitemap */

.rw-sitemap ul {
	
}

.rw-sitemap ul li {
	
}

.rw-sitemap ul li:last-child {
	
}

.rw-sitemap ul li li {
	
}

.rw-sitemap ul li li:last-child {
	
}

.rw-sitemap ul ul {
	
}

.rw-sitemap ul ul ul {
	
}

/* @end */

/* @group Blog Comments */

/* These groups are used to forcibly over-ride the styles that Disqus and JS-KIT comments apply that break page layouts. It's likely you'll need to use them, however they're not ideal solutions and may not work in the future if the comment providers' Javascript-inserted markup changes. */

/* @group Disqus */

#dsq-comments-title {
	clear: none !important;
}

#dsq-content .dsq-options {
	clear: none !important;
}

#dsq-thread-settings {
	clear: none !important;
}

#dsq-content div {
	clear: none !important;
}

.dsq-login-buttons li {
	clear: none !important;
	margin-bottom: 25px!important;
}

.dsq-button {
	float: none ! important;
}

/* @end */

/* @group JS-Kit Override */

.js-singleCommentBodyT {
	display: block;
	padding-top: 17px !important;

}

.js-singleCommentHeader {
	padding: 0 8px !important;
}

.js-OldComments,
.js-commentFieldLabel,
.js-pmFieldLabel,
.js-singleCommentBody,
.js-singleCommentKarmaComMod,
.js-commentBodyLabel,
.js-commentCmtTextarea,
.js-commentAvatarArea,
.js-OldCommentsWrap,
.js-OldComments,
.js-CreateCommentFieldsWrap,
.js-CreateCommentFields,
.js-commentCmtTextarea,
.js-kit-comments div {
	clear: none !important;
}

.js-singleCommentText {
	display: block !important;
	clear: both !important;
}

.js-kit-comments br {
	display: none !important;
}

.js-singleCommentBody br {
	display: block !important;
}

/* @end */



/* @end */