<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RWColourTagCSSFiles</key>
	<array>
		<string>colourtag.css</string>
	</array>
	<key>RWCopyFiles</key>
	<array>
		<string>css</string>
		<string>images</string>
		<string>styles.css</string>
		<string>colourtag.css</string>
		<string>print.css</string>
		<string>handheld.css</string>
		<string>javascript.js</string>
	</array>
	<key>RWStyleVariations</key>
	<dict>
		<key>RWStyleGroups</key>
		<array>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>de</key>
					<string>Advanced Options</string>
					<key>en</key>
					<string>Advanced Options</string>
					<key>fr</key>
					<string>Advanced Options</string>
					<key>it</key>
					<string>Advanced Options</string>
					<key>ja</key>
					<string>Advanced Options</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Custom Stylesheet</string>
							<key>en</key>
							<string>Custom Stylesheet</string>
							<key>fr</key>
							<string>Custom Stylesheet</string>
							<key>it</key>
							<string>Custom Stylesheet</string>
							<key>ja</key>
							<string>Custom Stylesheet</string>
						</dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/custom.css</string>
						</array>
						<key>Name</key>
						<string>Custom Stylesheet</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Advanced Options</string>
				<key>GroupSelectionLimit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>de</key>
					<string>German Option Group Name</string>
					<key>en</key>
					<string>English Option Group Name</string>
					<key>fr</key>
					<string>French Option Group Name</string>
					<key>it</key>
					<string>Italian Option Group Name</string>
					<key>ja</key>
					<string>Japanese Option Group Name</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>German Option Name</string>
							<key>en</key>
							<string>English Option Name</string>
							<key>fr</key>
							<string>French Option Name</string>
							<key>it</key>
							<string>Italian Option Name</string>
							<key>ja</key>
							<string>Japanese Option Name</string>
						</dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/option_group/file_name.css</string>
						</array>
						<key>Name</key>
						<string>Option Name</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>German Option 2 Name</string>
							<key>en</key>
							<string>English Option 2 Name</string>
							<key>fr</key>
							<string>Fench Option 2 Name</string>
							<key>it</key>
							<string>Italian Option 2 Name</string>
							<key>ja</key>
							<string>Japanese Option 2 Name</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/option_group/file_name.css</string>
						</array>
						<key>Name</key>
						<string>Option 2 Name</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Option Group</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>de</key>
					<string>German Colours</string>
					<key>en</key>
					<string>English Colours</string>
					<key>fr</key>
					<string>French Colours</string>
					<key>it</key>
					<string>Italian Colours</string>
					<key>ja</key>
					<string>Japanese Colours</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DefaultColour</key>
						<string>#cccccc</string>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Body Background</string>
							<key>en</key>
							<string>Body Background</string>
							<key>fr</key>
							<string>Body Background</string>
							<key>it</key>
							<string>Body Background</string>
							<key>ja</key>
							<string>Body Background</string>
						</dict>
						<key>Name</key>
						<string>Body Background</string>
						<key>Tag</key>
						<string>%colour_body_background%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Colours</string>
			</dict>
		</array>
	</dict>
	<key>RWTemplateHTML</key>
	<string>index.html</string>
	<key>RWTextToolbar</key>
	<dict>
		<key>RWAlwaysDisplayFullNavigation</key>
		<false/>
		<key>RWBreadCrumb</key>
		<string>&lt;ul&gt;%items%&lt;/ul&gt;</string>
		<key>RWBreadCrumbItem</key>
		<string>&lt;li&gt;&lt;a href=&quot;%url%&quot;&gt;%title%&lt;/a&gt;%separator%&lt;/li&gt;</string>
		<key>RWBreadCrumbSeparator</key>
		<string>&amp;nbsp;&gt;&amp;nbsp;</string>
		<key>RWSupportedLevels</key>
		<integer>2</integer>
		<key>RWToolbarItemCurrent</key>
		<string>&lt;li&gt;&lt;a href=&quot;%url%&quot; rel=&quot;%rel%&quot; id=&quot;current&quot;&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentParent</key>
		<string>&lt;li&gt;&lt;a href=&quot;%url%&quot; rel=&quot;%rel%&quot; id=&quot;current&quot; class=&quot;parent&quot;&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentAncestor</key>
		<string>&lt;li&gt;&lt;a href=&quot;%url%&quot; rel=&quot;%rel%&quot; class=&quot;currentAncestor&quot;&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentAncestorParent</key>
		<string>&lt;li&gt;&lt;a href=&quot;%url%&quot; rel=&quot;%rel%&quot; class=&quot;currentAncestor parent&quot;&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemNormal</key>
		<string>&lt;li&gt;&lt;a href=&quot;%url%&quot; rel=&quot;%rel%&quot;&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemNormalParent</key>
		<string>&lt;li&gt;&lt;a href=&quot;%url%&quot; rel=&quot;%rel%&quot; class=&quot;parent&quot;&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarList</key>
		<string>&lt;ul&gt;%items%&lt;/ul&gt;</string>
	</dict>
	<key>RWThemeAuthor</key>
	<string>Theme Author</string>
	<key>RWAddonAuthor</key>
	<string>Theme Author</string>
	<key>RWThemeCapabilities</key>
	<dict>
		<key>RWSupportsContentOnlySubPages</key>
		<true/>
		<key>RWSupportsDisplayNames</key>
		<true/>
		<key>RWSupportsPathTo</key>
		<true/>
		<key>RWSupportsToolbarRelTag</key>
		<true/>
	</dict>
	<key>RWThemeDisplayName</key>
	<dict>
		<key>de</key>
		<string>German Theme Name</string>
		<key>en</key>
		<string>English Theme Name</string>
		<key>fr</key>
		<string>French Theme Name</string>
		<key>it</key>
		<string>Italian Theme Name</string>
		<key>ja</key>
		<string>Japanese Theme Name</string>
	</dict>
	<key>RWThemeImage</key>
	<string>preview.png</string>
	<key>RWThemeImageLarge</key>
	<string>preview_large.jpg</string>
	<key>RWThemeKeyWords</key>
	<array>
		<string>realmac</string>
		<string>software</string>
	</array>
	<key>RWThemeName</key>
	<string>My Theme</string>
	<key>RWThemeShortName</key>
	<string>mytheme</string>
	<key>RWAddonSupportURL</key>
	<string>http://www.website.com</string>
	<key>RWVersion</key>
	<integer>1</integer>
</dict>
</plist>
