<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.realmacsoftware.future</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>RWAddonAuthor</key>
	<string>Realmac Software</string>
	<key>RWAddonSupportURL</key>
	<string>http://realmacsoftware.com/support</string>
	<key>RWBannerOptions</key>
	<dict>
		<key>RWThemeBannerFallbackImage</key>
		<string>images/banners/default.jpg</string>
		<key>RWThemeBannerImageRecommendedHeight</key>
		<integer>720</integer>
		<key>RWThemeBannerImageRecommendedWidth</key>
		<integer>1080</integer>
	</dict>
	<key>RWThemeIsResponsive</key>
	<true/>
	<key>RWThemeSupportsBannerImages</key>
	<true/>
</dict>
</plist>
