<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RWAddonAuthor</key>
	<string>Realmac Software</string>
	<key>RWAddonSupportURL</key>
	<string>http://www.realmacsoftware.com</string>
	<key>RWAssetOptions</key>
	<dict>
		<key>RWThemeLogoImageRecommendedHeight</key>
		<string>80</string>
		<key>RWThemeLogoImageRecommendedWidth</key>
		<string>260</string>
	</dict>
	<key>RWColourTagCSSFiles</key>
	<array>
		<string>css/colourtag.css</string>
	</array>
	<key>RWCopyFiles</key>
	<array>
		<string>css</string>
		<string>js</string>
		<string>images</string>
	</array>
	<key>RWStyleVariations</key>
	<dict>
		<key>RWStyleGroups</key>
		<array>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DefaultColour</key>
						<string>rgba(254,135,155,1.00)</string>
						<key>Name</key>
						<string>Primary</string>
						<key>Tag</key>
						<string>%colour_primary%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>rgba(138,136,140,1.00)</string>
						<key>Name</key>
						<string>Body Text</string>
						<key>Tag</key>
						<string>%colour_body_text%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>rgba(138,136,140,1.00)</string>
						<key>Name</key>
						<string>Sidebar Text</string>
						<key>Tag</key>
						<string>%colour_sidebar_text%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>rgba(255,255,255,1)</string>
						<key>Name</key>
						<string>Site Title</string>
						<key>Tag</key>
						<string>%colour_title%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>rgba(255,255,255,0.5)</string>
						<key>Name</key>
						<string>Site Slogan</string>
						<key>Tag</key>
						<string>%colour_slogan%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>Default</key>
						<string>17</string>
						<key>Format</key>
						<string>None</string>
						<key>Maximum</key>
						<integer>26</integer>
						<key>Minimum</key>
						<integer>14</integer>
						<key>Name</key>
						<string>Font Size</string>
						<key>Steps</key>
						<string>13</string>
						<key>Tag</key>
						<string>%body_font_size%</string>
						<key>Type</key>
						<string>Slider</string>
						<key>Unit</key>
						<string>px</string>
					</dict>
					<dict>
						<key>Default</key>
						<string>12</string>
						<key>Format</key>
						<string>None</string>
						<key>Maximum</key>
						<integer>12</integer>
						<key>Minimum</key>
						<integer>0</integer>
						<key>Name</key>
						<string>Main Content Columns</string>
						<key>Steps</key>
						<string>13</string>
						<key>Tag</key>
						<string>%content_width%</string>
						<key>Type</key>
						<string>Slider</string>
					</dict>
					<dict>
						<key>Default</key>
						<string>12</string>
						<key>Format</key>
						<string>None</string>
						<key>Maximum</key>
						<integer>12</integer>
						<key>Minimum</key>
						<integer>0</integer>
						<key>Name</key>
						<string>Sidebar Columns</string>
						<key>Steps</key>
						<string>13</string>
						<key>Tag</key>
						<string>%sidebar_width%</string>
						<key>Type</key>
						<string>Slider</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/sidebar/hide.css</string>
						</array>
						<key>Name</key>
						<string>Hide Sidebar</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Color Settings</string>
			</dict>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/site/width_pixels.css</string>
						</array>
						<key>Name</key>
						<string>Pixels</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/site/width_percentage.css</string>
						</array>
						<key>Name</key>
						<string>Percentage</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Default</key>
						<string>960</string>
						<key>Name</key>
						<string>Maximum Width</string>
						<key>Tag</key>
						<string>%site_width%</string>
						<key>Type</key>
						<string>Number</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Content Width</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/navigation/logo.css</string>
						</array>
						<key>Name</key>
						<string>Logo</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/navigation/title.css</string>
						</array>
						<key>Name</key>
						<string>Site Title</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/navigation/uppercase_links.css</string>
						</array>
						<key>Name</key>
						<string>Uppercase Links</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>rgba(255,255,255,0.5)</string>
						<key>Name</key>
						<string>Links</string>
						<key>Tag</key>
						<string>%colour_nav_link%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>rgba(255,255,255,1.00)</string>
						<key>Name</key>
						<string>Active Links</string>
						<key>Tag</key>
						<string>%colour_nav_link_active%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Navigation</string>
			</dict>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/banner/filter_brightness.css</string>
						</array>
						<key>Name</key>
						<string>Brightness</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/banner/filter_contrast.css</string>
						</array>
						<key>Name</key>
						<string>Contrast</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/banner/filter_grayscale.css</string>
						</array>
						<key>Name</key>
						<string>Grayscale</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/banner/filter_sepia.css</string>
						</array>
						<key>Name</key>
						<string>Sepia</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/banner/filter_saturate.css</string>
						</array>
						<key>Name</key>
						<string>Saturate</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/banner/filter_invert.css</string>
						</array>
						<key>Name</key>
						<string>Invert</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/banner/filter_opacity.css</string>
						</array>
						<key>Name</key>
						<string>Opacity</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/banner/filter_none.css</string>
						</array>
						<key>Name</key>
						<string>None</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Default</key>
						<string>50</string>
						<key>Format</key>
						<string>Number</string>
						<key>Maximum</key>
						<integer>200</integer>
						<key>Minimum</key>
						<integer>0</integer>
						<key>Name</key>
						<string>Filter Amount</string>
						<key>Tag</key>
						<string>%banner_filter_amount%</string>
						<key>Type</key>
						<string>Slider</string>
						<key>Unit</key>
						<string>%</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>rgba(0,0,0,0)</string>
						<key>Name</key>
						<string>Overlay</string>
						<key>Tag</key>
						<string>%colour_banner_overlay%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>Default</key>
						<string>-6</string>
						<key>Format</key>
						<string>None</string>
						<key>Maximum</key>
						<string>15</string>
						<key>Minimum</key>
						<string>-15</string>
						<key>Name</key>
						<string>Overlap Angle</string>
						<key>Tag</key>
						<string>%banner_overlap_angle%</string>
						<key>Type</key>
						<string>Slider</string>
						<key>Unit</key>
						<string>deg</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Banner</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DefaultColour</key>
						<string>rgba(50,51,86,1.00)</string>
						<key>Name</key>
						<string>Text</string>
						<key>Tag</key>
						<string>%colour_headings%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/headings/center.css</string>
						</array>
						<key>Name</key>
						<string>Center Aligned</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/site/heading_dividers.css</string>
						</array>
						<key>Name</key>
						<string>Show Dividers</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>Default</key>
						<string>125</string>
						<key>Format</key>
						<string>None</string>
						<key>Maximum</key>
						<integer>500</integer>
						<key>Minimum</key>
						<integer>0</integer>
						<key>Name</key>
						<string>Divider Width</string>
						<key>Steps</key>
						<string>21</string>
						<key>Tag</key>
						<string>%headings_divider_width%</string>
						<key>Type</key>
						<string>Slider</string>
						<key>Unit</key>
						<string>px</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Headings</string>
				<key>GroupSelectionLimit</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DefaultColour</key>
						<string>rgba(50,51,86,0.05)</string>
						<key>Name</key>
						<string>Background</string>
						<key>Tag</key>
						<string>%colour_footer_bg%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
					<dict>
						<key>DefaultColour</key>
						<string>rgba(50,51,86,1.00)</string>
						<key>Name</key>
						<string>Text</string>
						<key>Tag</key>
						<string>%colour_footer_text%</string>
						<key>Type</key>
						<string>Colour</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Footer</string>
				<key>GroupSelectionLimit</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>RWTemplateHTML</key>
	<string>index.html</string>
	<key>RWTextToolbar</key>
	<dict>
		<key>RWAlwaysDisplayFullNavigation</key>
		<true/>
		<key>RWAlwaysDisplayFullSubNavigation</key>
		<true/>
		<key>RWBreadCrumb</key>
		<string>&lt;ul&gt;%items%&lt;/ul&gt;</string>
		<key>RWBreadCrumbItem</key>
		<string>&lt;li&gt;&lt;a href="%url%"&gt;%title%&lt;/a&gt;%separator%&lt;/li&gt;</string>
		<key>RWBreadCrumbSeparator</key>
		<string>&amp;nbsp;&gt;&amp;nbsp;</string>
		<key>RWSupportedLevels</key>
		<integer>2</integer>
		<key>RWToolbarItemCurrent</key>
		<string>&lt;li class="nav-item active"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentAncestor</key>
		<string>&lt;li class="nav-item"&gt;&lt;a href="%url%" rel="%rel%" class="currentAncestor"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentAncestorParent</key>
		<string>&lt;li class="nav-item has-dropdown active"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link dropdown-toggle"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentParent</key>
		<string>&lt;li class="nav-item has-dropdown active"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link dropdown-toggle" data-toggle="dropdown" &gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemNormal</key>
		<string>&lt;li class="nav-item"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemNormalParent</key>
		<string>&lt;li class="nav-item has-dropdown"&gt;&lt;a href="%url%" rel="%rel%" class="nav-link dropdown-toggle" data-toggle="dropdown"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarList</key>
		<string>&lt;ul class="navbar-nav ml-auto"&gt;%items%&lt;/ul&gt;</string>
	</dict>
	<key>RWThemeCapabilities</key>
	<dict>
		<key>RWSupportsAlphaInColours</key>
		<true/>
		<key>RWSupportsContentOnlySubPages</key>
		<true/>
		<key>RWSupportsDisplayNames</key>
		<true/>
		<key>RWSupportsPathTo</key>
		<true/>
		<key>RWSupportsToolbarRelTag</key>
		<true/>
	</dict>
	<key>RWThemeImageLarge</key>
	<string>preview_large.jpg</string>
	<key>RWThemeKeyWords</key>
	<array>
		<string>new</string>
		<string>responsive</string>
	</array>
	<key>RWThemeName</key>
	<string>My Example Theme</string>
	<key>RWThemeShortName</key>
	<string>My Example Theme</string>
	<key>RWVersion</key>
	<integer>8</integer>
</dict>
</plist>
